html, body, h1 {
    margin: 0;
}

#top {
    background-image: url(https://cdn.wallpapersafari.com/32/68/LOwFIE.jpg);
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    vertical-align: middle;
    line-height: 1000px;  
    color: aliceblue;
}

#mid {
    height: 500px;
    width: 100%;
    background: black;
    text-align: center;
    /* vertical-align: middle; */
    line-height: 500px;  
    color: aliceblue;
}

#bot {
    background-image: url(https://wallpapercave.com/wp/wp8719460.jpg);
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    vertical-align: middle;
    line-height: 1000px;  
    color: aliceblue;
}