button {
    margin-top: 40vh;
    margin-bottom: 40vh;
    margin-left: 40vw;
    margin-right: 40vw;
    display: block;
    width: 20vw;
    height: 20vh;
    font-size: 4vw;
    border: solid 3px;
    border-radius: 1vh;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
}