@font-face {
    font-family: Kontanter-Bold;
    src: url("../font/Kontanter-Bold.woff") format("woff");
}

:root {
	--color-1 : #333533;
	--color-2 : #202020;
	--color-3 : #ffc300;
	--color-4 : aliceblue;
}

html, body {
	background-color: var(--color-2);
	margin: 0;
	color: var(--color-4);
}

header {
	background-color: var(--color-1);
	width: 100vw;
	top: 0;
	position: fixed;
}

nav {
	text-align: center;
	width: 100vw;
	padding-top: 15px;
	padding-bottom: 15px;
}

#logo {
	color: var(--color-3);
	font-family: 'Kontanter-Bold';
	font-size: 50px;
}

.flag {
	width: 35px;
	border-radius: 2px;
	/* margin-left: 60vw; */
}

#profile {
	padding: 20px;
}

.menu {
	color: var(--color-4);
	border: none;
	border-bottom: solid;
	border-color: var(--color-1);
	background-color: transparent;
	font-size: 20px;
	cursor: pointer;
	padding: 0px;
}

.menu:hover {
	border-bottom: solid;
	border-color: var(--color-4);
}

.menu:active {
	border-bottom: solid;
	border-color: var(--color-3);
}

article {
	margin: 10px;
	text-align: justify;
}