html,body{
    margin: 0;
    background-color: black;
}
table{
    width: 100vw;
    height:100vh;
}
.left_cell {
    background-color:#c3c77e;
    width: 50%;
    text-align: center;
}
.right_cell {
    background-color:#f9c4af;
    width: 50%;
    text-align: center;
}